.container {
  height: auto;
  width: 100%;
  /*
  position: relative;
  top: 20px;
  */
  text-align: center;
}

.welcome-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
